.wrapper {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    max-width: 1140px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
header {
    display: grid;
    grid-template-columns: auto;
    padding-top: 70px;
    padding-bottom: 38px;
    @include respond-above(sm) {
        grid-template-columns: 305px auto;
        padding-top: 110px;
        gap: 40%;
        padding-bottom: 90px;
    }
}
footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
    padding-top: 24px;
    padding-bottom: 24px;
}